body {
    background: rgb(80, 77, 77);
}

.image-top {
  margin-left: 40px;
  min-width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.top {
  min-height: 100px;
  background: grey;
  margin: 10px;
  display: flex;
  max-width: 500px;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.forms {
  overflow: hidden;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.add {
  background: grey;
  float: left;
  margin: 50px;
  padding: 21px;
  height: 350px;
  width: 300px;
}

table, th, td {
  border: solid 1px;
  border-collapse: collapse;
  padding: 10px;
}

.tabelka {
  width: 700px;
  background:grey;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align:center;
}

a {
    color: black;
    text-decoration: none;
}

#button {
  position: fixed;
  top: 0px;
  left: 0px; 
  background: grey;
  background-color: grey;
  margin: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
}

#button2 {
  position: fixed;
  top: 0px;
  left: 110px; 
  background-color: grey;
  margin: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
}